<p class="footer-entry"><%if(theme.bottom_text){%><%=theme.bottom_text%><%} else {%>©2017 <%=config.author%><%}%></p>
<p class="footer-entry">Powered_by <a href="https://hexo.io/" target="_blank">hexo</a> and <a href="https://github.com/yelog/hexo-theme-3-hexo" target="_blank">3-hexo</a> & <a href="https://www.chenuon.cn" target="_blank"> 程忧</p>
<p class-"fonter-entry"><a href="http://www.beian.miit.gov.cn/" target="_blank">湘ICP备19028046号</a></p>
